:root {
  --base-clr: #3c3c3c;
  --secondary-clr: #282828;
  --nav-bg-clr: #1f2020;
  --accent-clr: #128ba8;
  --text-clr: #c7c7c7;
  --hover-clr: #3e3e3e;
  --active-hover-clr: #128aa898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 16px;
  color: var(--text-clr);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "main";
  height: 100vh;
  background: var(--base-clr);
}

nav {
  grid-area: navbar;
  margin-bottom: 1rem;
  width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
  background: var(--nav-bg-clr);
  color: var(--text-clr);
  padding: 1rem;
  width: 100%;
  align-items: center;
}
#nav-website-logo {
  width: 100%;
  font-weight: bold;
  font-size: 1.25em;
  user-select: none;
}
#nav-link-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
nav ul a,
nav ul a:visited {
  color: var(--text-clr);
  text-decoration: none;
  padding: 0.75rem;
}
nav ul a:hover {
  background-color: var(--hover-clr);
  border-radius: 1rem;
}
nav li {
  padding: 0.25rem;
}
nav li .active {
  background-color: var(--accent-clr);
  border-radius: 1rem;
}
nav li .active:hover {
  background-color: var(--active-hover-clr);
  text-shadow: 0 0 3px var(--active-hover-clr);
}

main {
  grid-area: main;
}

h1 {
  text-align: center;
  border-bottom: 0.125rem solid var(--text-clr);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  user-select: none;
}

.highlight-text {
  color: var(--accent-clr);
}

.bold-text {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 0 0 3px var(--text-clr);
}

hr {
  margin: 1rem 0 1rem 0;
}

.intro-paragraph {
  text-align: center;
  padding: 0 5rem 0 5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a,
a:visited {
  color: var(--accent-clr);
  text-decoration: none;
}
a:hover {
  color: var(--active-hover-clr);
}

p {
  font-size: 1.25rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-clr);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid black;
  border-radius: 6px;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
