:root {
  --base-clr: #3c3c3c;
  --secondary-clr: #282828;
  --nav-bg-clr: #1f2020;
  --accent-clr: #128ba8;
  --accent-transparent-clr: #128aa8c9;
  --text-clr: #c7c7c7;
  --text-transparent-clr: #c7c7c728;
  --hover-clr: #3e3e3e;
  --active-hover-clr: #128aa898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 16px;
  color: var(--text-clr);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "main";
  height: 100vh;
  background: var(--base-clr);
}

nav {
  grid-area: navbar;
  margin-bottom: 1rem;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 999;
}
nav ul {
  display: flex;
  list-style: none;
  background: var(--nav-bg-clr);
  color: var(--text-clr);
  padding: 1rem;
  width: 100%;
  align-items: center;
}
#nav-website-logo {
  width: 100%;
  font-weight: bold;
  font-size: 1.25em;
  user-select: none;
}
#nav-link-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
nav ul a,
nav ul a:visited {
  color: var(--text-clr);
  text-decoration: none;
  padding: 0.75rem;
}
nav ul a:hover {
  background-color: var(--hover-clr);
  border-radius: 1rem;
}
nav li {
  display: flex;
  padding: 0.25rem;
}
nav li .active {
  background-color: var(--accent-clr);
  border-radius: 1rem;
}
nav li .active:hover {
  background-color: var(--active-hover-clr);
  text-shadow: 0 0 3px var(--active-hover-clr);
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  border-bottom: 0.125rem solid var(--text-clr);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  user-select: none;
}

.highlight-text {
  color: var(--accent-clr);
}

.bold-text {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 0 0 3px var(--text-clr);
}

hr {
  margin: 1rem 0 1rem 0;
}

p {
  text-align: center;
  padding: 0 5rem 0 5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.examples {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  flex: 1;
}
.examples h2 {
  border-bottom: 0.125rem solid var(--text-clr);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.left-example,
.right-example {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  max-height: 500px;
  overflow-y: auto;
}
.left-example {
  padding-right: 2.5rem;
  margin-right: 2.5rem;
}
img {
  border-radius: 0.5rem;
  color: var(--accent-clr);
  width: 100%;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text-clr);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 85%;
}

h4 {
  font-style: italic;
  text-align: center;
  width: 100%;
  padding: 0.125rem 0;
  border-radius: 0.5rem;
}
.background {
  background-color: var(--accent-transparent-clr);
}

.border {
  font-size: 2rem;
}

#no-margin {
  margin: 0;
}

a,
a:visited {
  color: var(--accent-clr);
  text-decoration: none;
}
a:hover {
  color: var(--active-hover-clr);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-transparent-clr);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 6px;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator-form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.calculator-form label {
  display: block;
  margin-bottom: 5px;
}

.calculator-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.calculator-form input[type="submit"] {
  padding: 10px 15px;
  margin-top: 10px;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h4 {
  text-align: center;
}

.table-wrapper {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 50vh;
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  max-width: 100%;
  word-break: break-word;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

#data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin: 0.75rem 0 0.75rem 0;
  max-width: 100%;
}
#data input,
#data button,
button,
.input-wrapper label {
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-clr);
  fill: var(--text-clr);
  padding: 0.5rem;
}

#data button,
button,
.input-wrapper label {
  cursor: pointer;
}

#data button:hover,
button:hover,
.input-wrapper label {
  background-color: var(--hover-clr);
}

.button-wrapper,
.input-wrapper {
  text-align: center;
}
.button-wrapper button,
.input-wrapper label {
  border: none;
  background-color: var(--accent-clr);
  border-radius: 6px;
}
.button-wrapper button:hover,
.input-wrapper label:hover {
  background-color: var(--active-hover-clr);
}

.input-wrapper input[type="file"] {
  display: none;
}
.input-wrapper label {
  margin-right: 0.5rem;
}

.input-wrapper label,
.button-wrapper button {
  font-size: 1rem;
}
.input-wrapper span {
  font-size: 0.95rem;
}

#bottom-clickables {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
